@model OakbrookFinanceTechTest.Model.DetailsModel

<i class="fa fa-check" style='font-size:10vw;color:forestgreen'></i>

<p> Retry to see if you can get accepted again. </p>

@Html.ActionLink("Retry", "Index", "Home", null, new { @class = "btn btn-primary" })



