@model OakbrookFinanceTechTest.Model.DetailsModel

<i class="fa fa-exclamation-triangle" style='font-size:10vw;color:red'></i>

<p> Please retry. </p>

@Html.ActionLink("Retry", "Index", "Home", null, new { @class = "btn btn-primary" })



