@model OakbrookFinanceTechTest.Model.DetailsModel

<i class="fa fa-question" style='font-size:10vw;color:yellow'></i>

<p> No decision made. Please Retry </p>

@Html.ActionLink("Retry", "Index", "Home", null, new { @class = "btn btn-primary" })



